@tailwind base;
@tailwind components;
@tailwind utilities;

.projectback{
    background: url("../../public/projectbg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
}

.imgset:hover{
    transform: scale(1.1)
}

@media screen and (max-width:430px) {
    .projectback{
            background: #f4f4f4;
    }
}

.loader {
    width: 150px;
    height: 150px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .loader_cube {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 30px;
  }
  
  .loader_cube--glowing {
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.3);
  }
  
  .loader_cube--color {
    z-index: 1;
    filter: blur(2px);
    background: linear-gradient(270deg, #df6800, #00c832);
    animation: loadtwo 2.5s ease-in-out infinite;
  }
  
  @keyframes loadtwo {
    50% {
      transform: rotate(-80deg);
    }
  }