@tailwind base;
@tailwind components;
@tailwind utilities;

.projectback{
    background: url("../../public/projectbg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
}

.imgset:hover{
    transform: scale(1.1)
}